/data
/result
/experiment
/wandb
/sh
/preprocess.ipynb
/SL_downstream.ipynb
/IDH1_analysis.ipynb
/config/cancer_specific
/config/cancer_specific2.yaml
/emb_plot.ipynb
/att_emb
/indep_test_inference.ipynb
/IDH1_analysis.ipynb